<div class="main">
  <nav class="navbar">
    <a class="logo" [href]="['/']">
      <img src="./imgs/logo.svg" alt="logo" width="25" height="25" />
      <p class="align-self-anchor-center">Padose</p>
    </a>

    <!-- Desktop nav links -->
    <ul class="nav-links">
      <li *ngIf="!isMobileView">
        <select class="language-selector" [(ngModel)]="selectedLanguage" (change)="changeLanguage($event)">
          <option *ngFor="let lang of languages" [value]="lang.code">
            {{ lang.label }}
          </option>
        </select>
      </li>
    </ul>

    <!-- Mobile dropdown menu -->
    <select class="mobile-dropdown" *ngIf="isMobileView" (change)="onMobileNavSelect($event)">
      <option value="">Home</option>
      <option value="about">About</option>
    </select>
  </nav>