<div class="subscribe-card">
    <form [formGroup]="subscribeForm" (ngSubmit)="onSubmit()">
        <h2>Be the first to get the latest news about trends, inspiration & more</h2>
        <div class="input-and-btn">
            <input type="text" formControlName="contact" placeholder="Enter email or phone number" />
            <button type="submit" [disabled]="subscribeForm.invalid">Subscribe</button>
        </div>
        <div class="error" *ngIf="contact.invalid && (contact.dirty || contact.touched)">
            <span *ngIf="contact.errors?.['required']">Contact is required.</span>
            <span *ngIf="contact.errors?.['pattern']">Enter a valid email or phone number.</span>
        </div>
    </form>
</div>